/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

@media only screen and (max-width: 1210px) {
	.header_center{
		padding: 18px 25px 22px 25px;
	}
}
@media only screen and (max-width: 1110px){
	.el_figcaption_text{
		font-size: 19px;
	}
}
@media only screen and (max-width: 1044px){
	.advantage_figcaption{
		padding: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.logo a {
        width: 275px;
        height: 128px;
        -webkit-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
	}
	.header_center_pattern_left,
	.header_center_pattern_right{
		width: 200px;	
		-webkit-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
	}
	.header_center{
		height: auto;
	}

}
@media only screen and (max-width: 990px) {
	.content_container_element{
		padding: 35px 15px 72px 15px;
	}
	.advantage_container{
		margin: 0 -15px;	
	}
	.contant_bd {
        padding: 0 15px;
	}
	.content_main_img{
		background-position: 0 0;
	}

}
@media only screen and (max-width: 850px) {
	.content_main_img{
		-webkit-background-size: 1045px 270px;
		     -o-background-size: 1045px 270px;
		        background-size: 1045px 270px;
	    height: 280px;
	}
	.content_main_span_left:before, 
	.content_main_span_left:after, 
	.content_main_span_right:before, 
	.content_main_span_right:after{
		height: 140px;
	}
}
@media only screen and (max-width: 771px) {
	.header_numbers,
	.header_top_search{
		float: none;
		display: inline-block;
	}
	.header_top{
		text-align: center;
		padding: 10px 0;
	}
	.header_numbers{
		padding-bottom: 10px;
	}
	.header_numbers a,
	.footer_bottom .header_numbers a, 
	.footer_bottom .header_numbers span > span{
		padding: 5px;
	}
	.header_top_input{
		opacity: 1;
		visibility: visible;	
	}
	.advantage_img_box{
		width: 170px;
		height: 170px;
	}
	.title3{
		font-size: 17px;
	}
}
@media only screen and (max-width: 768px) {
	.resp_btn_menu {
		display: block;
		font-size: 20px;
		line-height: 1.2;
		padding: 6px 10px;
		background-color: transparent;
		color: #FFF;
		font-family:'Times New Roman', Times, serif , sans-serif;
		margin: auto;
		width: 130px;
	}
		.resp_btn_menu > span{
			width: 20px;
			height: 15px;
			padding-top: 3px;
		}
			.resp_btn_menu > span span{
				width: 100%;
				height: 2px;
				margin-bottom: 4px;
				display: block;
				background-color: #fff;
			}
	.navigation_menu{
		position: fixed;
		width: 300px;
		top: 0;
		/* bottom: 0; */
		height: 100%;
		right: 0;
		background-color: #520100;
        z-index: 999;
		-webkit-transform: translateX(300px);
		   -moz-transform: translateX(300px);
		    -ms-transform: translateX(300px);
		     -o-transform: translateX(300px);
		        transform: translateX(300px);
		-webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;
		-ms-overflow-y: auto;
		    overflow-y: auto;
	}
	.show_menu .navigation_menu{
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		    -ms-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
		-webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;
	    -webkit-box-shadow: -1px 0px 15px 0px #000;
				box-shadow: -1px 0px 15px 0px #000;	 
	}
	#content{
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		    -ms-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
	    -webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;
	   	min-height: inherit;
	}
	.show_menu #content{
		-webkit-transform: translateX(-300px);
		   -moz-transform: translateX(-300px);
		    -ms-transform: translateX(-300px);
		     -o-transform: translateX(-300px);
		        transform: translateX(-300px);
	    -webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;
	}
	.show_menu{
		overflow: hidden;
	}
	.menu_item{
		display: block;
		margin: 10px 0px;
		text-align: left;
	}
	.menu_link{
		padding: 10px 0;
		display: block;
		webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;
	}
	.menu_link:hover,
	.menu_link:active{
		padding-left: 15px;
		background: #AD5C0E;
		webkit-transition: all ease 0.5s;
		   -moz-transition: all ease 0.5s;
		    -ms-transition: all ease 0.5s;
		     -o-transition: all ease 0.5s;
		        transition: all ease 0.5s;
	}
	.menu_link:hover:before, 
	.menu_link:hover:after, 
	.menu_item.current .menu_link:before, 
	.menu_item.current .menu_link:after{
		display: none;
	}
	.resp_box_onMenu{
		display: block;
	}
	.close_resp_menu{
		width: 45px;
		height: 45px;
		padding: 10px;
		text-align: center;	
		float: left;
		font-size: 45px;
        line-height: 0;
        background-color: rgb(144, 19, 18);
	}
	.close_resp_menu:hover,
	.close_resp_menu:active{
		background-color: rgba(144, 19, 18,0.8);	
	}
	.header_top_search{
		float: right;
		width: 230px;
		height: 45px;
		margin-right: 10px;
	}
	.header_top_input{
		height: 45px;
		padding-right: 45px;
	}
	.search_icon{
		height: 45px;
		width: 45px;
	}
	.menu{
		margin-left: 10px;
	}
	.header_numbers{
		padding: 0;
	}
	.header_top{
		padding: 5px 0;
		min-height: inherit;
	}
	.header_center{
		margin: 17px 0 10px 0;
	}
	.header_bottom{
		margin-bottom: 10px;
		text-align: center;
	}
	.el_figcaption_text{
		font-size: 18px;
	}
	.title{
		font-size: 24px;
	}
	.span2:before, 
	.span2:after{
		width: 28%;	
	}
	.mode_works {
        margin-bottom: 20px;
	}
	.arrow_up {
		right: 10px;
		bottom: 20px;
	}
	.arrow_up .fa-arrow-up{
		width: 45px;
		height: 45px;
	}
	.arrow_up .fa-arrow-up:before{
		line-height: 40px;
	}
}
@media only screen and (max-width: 730px) {
	.header_center_pattern_left, 
	.header_center_pattern_right {
    	width: 138px;
    	height: 56px;
    	margin-top: 40px;
    }
    .header_center:before, 
    .header_center:after{
		width: 50%;
		-webkit-background-size: contain ;
		     -o-background-size: contain ;
		        background-size: contain ;
		top: -9px;
        left: -10px;
    }
    .header_center:after{
    	top: auto;
    	left: auto;
    	bottom: -46px;
        right: -10px;
    }
		
}

@media only screen and (max-width: 700px) {
	.header_center:before, 
	.header_center:after,
	.header_center_pattern_left, 
	.header_center_pattern_right{
		display: none;
	}
	.el_figcaption_text {
        font-size: 15px;
        line-height: 18px;
	}
}
@media only screen and (max-width: 680px){
	.advantage_container .col-xs-4,
	.full_complex_container .col-xs-4{
		width: 100%;
	}
	.advantage_img_box {
        width: 130px;
        height: 130px;
	}
	.advantage_container .title{
		margin-bottom: 18px;
	}
	.advantage_figure,
	.el_figure_box{
		margin-bottom: 25px;
	}
	.advantage_figcaption{
		width: 50%;
		margin: auto;
	}
	.advantage_container .col-xs-4:last-child .advantage_figure,
	.full_complex_container .col-xs-4:last-child .el_figure_item{
		margin-bottom: 0;
	}
	.advantage_container{
		padding: 25px 0;
	}
	.advantage_img_box_item img{
		width: 70%;
	}
	.title{
		font-size: 22px;
	}
	.el_figure_item{
		width: 300px;
		margin: 0 auto 25px;
		max-width: 100%;
	}
	.content_main_img span{
		display: none;
	}
	.content_main_img{
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	    background-position: 50% 50%;
	}
	.el_figcaption_text{
		font-size: 18px;
		line-height: 20px;
	}
	.element_text {
        margin-bottom: 20px;
	}
}
@media only screen and (max-width: 540px){
	.footer_navigation_menu_list,
	.footer_navigation_link{
		display: block;
		padding: 5px 0;
	}
	.footer_navigation_menu_list{
		width: 50%;
		float: left;
	}
	.footer_navigation_menu_list:nth-child(even){
		float: right;
	}
	.footer_top {
        margin-bottom: 10px;
	}
	.contant_bd .span2{
		display: none;
	}
	.main{
		padding-left: 15px;
		padding-right: 15px;
	}
	body{
		font-size: 15px;
		line-height: 19px;
	}
	.service_container{
		padding: 15px 0;
	}
	.service_container p:last-child{
		margin-bottom: 0;
	}
	.footer_bottom .header_numbers a, 
	.footer_bottom .header_numbers > span{
		width: 100%;
		display: block;
	}
	.footer_bottom .header_numbers > span > a{
		display: inline-block;
		width: auto;
	}
}
@media only screen and (max-width: 480px) {
	.title{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.advantage_figcaption{
		width: 100%;
	}
		
}
@media only screen and (max-width: 400px) {
	.logo a{
		padding-bottom: 45%;
		height: 0;	
	}
	.header_center{
		padding: 18px 15px 22px 15px;
	}
	.header_top{
		padding-top: 10px;
	}
	.header_numbers a{
		float: left;
		width: 50%;
		display: block;
	}
	.header_numbers a:nth-child(even){
		float: right;
	}
	.copyright_box{
		line-height: inherit;
		padding: 15px 0;
	}
		
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================