/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) BREADCRUMBS  START
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/bootstrap.css";
        @import "../css/indent.min.css";
        @import "../font-awesome-4.5.0/css/font-awesome.css";
        @import "../css/style_l.css";
        @import "../css/style_2.css";


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'Times New Roman', Times, serif , sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        color:#e3dddd;
        min-width:320px;
        background-color: #3d0000;
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .main{
        max-width: 1310px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 32px;
        padding-right: 32px;
        background-color: #520100;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color: #eed26c;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                color: #f7d22c;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: rgb(144, 19, 18);;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 13.5px 29px;
                font-size: 13px;
                line-height: 15px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 26px;
                line-height: 1.2;
                color: #eec959;
                font-family: 'Georgia', 'georgia', sans-serif;
                text-align: center;
                position: relative;
                margin-bottom: 25px;
                padding-bottom: 29px;
            }
                .title:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                       -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                         -o-transform: translateX(-50%);
                            transform: translateX(-50%);
                    background: url(../images/icon/title_after_icon.png) 0 0 no-repeat;
                    width: 123px;
                    height: 22px;
                }
            
            .title1{
                font-size: 26px;
                line-height: 1.2;
                color:#eec959;
                margin-bottom: 25px;
                font-family: 'Georgia', 'georgia', sans-serif;
            }
            .title1_min{
                font-size: 22px;
                line-height: 1.2;
                color:#eec959;
                margin-bottom: 12px;
                font-family: 'Georgia', 'georgia', sans-serif;
            }

            .title2{
                font-size: 19px;
                line-height: 1.2;
                color: #fff;
                text-align: center;
                margin-bottom: 15px;
            }
            .title3{
                font-size: 21px;
                line-height: 1.2;
                text-align: center;
                color: #eec959;
                font-family: 'Georgia', 'georgia', sans-serif;
                font-weight: 400;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .georgia_reg{
                font-family: 'Georgia', 'georgia', sans-serif;
            }


        /*======================>  INSTALL FONTS START  <======================*/
        

            @font-face {
              font-family: 'Georgia';
              src: url('../fonts/Georgia.woff') format('woff'),
                   url('../fonts/Georgia.ttf') format('truetype'),
                   url('../fonts/Georgia.svg#Georgia') format('svg');
              font-weight: normal;
              font-style: normal;
            }

            @font-face {
              font-family: 'georgia';
              src: url('../fonts/georgia.eot');
              src: url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
                   url('../fonts/georgia.woff2') format('woff2');
              font-weight: normal;
              font-style: normal;
            }


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }
            

        /*======================>  BREADCRUMBS  START  <======================*/
            
/*            .breadcrumbs_container{
                background-color: #ff6633;
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 24px 0 24px 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 4px;
                        padding-right: 15px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                        background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; 
                        width: 6px;
                        height: 6px; 
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #fff;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 700;
                                color: #fff;
                            }
*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        
    }
        .header_top{
            min-height: 58px;
            padding: 22px 0 0;
        }
            .header_numbers{
                float: left;
                padding: 3px 0;
            }
                .header_numbers a{
                    opacity: 0.6;
                    color: #eed26c;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    
                }

            .header_top_search{
                position: relative;
                width: 259px;
                height: 31px;
                max-width: 100%;
                float: right;
            }
                .header_top_input{
                    width: 100%;
                    height: 31px;
                    background-color: #661B05;
                    border: none;
                    visibility: hidden;
                    opacity: 0;
                    color: #E3DDDD;
                    padding: 5px 33px 5px 10px;
                    font-family: 'Times New Roman', Times, serif , sans-serif;
                    font-size: 18px;
                }
                .search_box:hover .input_field, 
                .search_box.focused_parent .input_field {
                        opacity: 1;
                        visibility: visible;
                }
                .search_icon{
                    background: url(../images/icon/search_icon.png) 50% 50% no-repeat;
                    width: 35px;
                    height: 31px;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    -webkit-transform: translateY(-50%);
                       -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                         -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                }


        .header_center{
            height: 199px;
            background-color: #5e0100;
            border: 1px solid #ffff69;
            border-radius: 11px 12px 12px 11px;
            padding: 18px 106px 22px 106px;
            position: relative;
            margin: 17px 0;
        }
            .header_center:before,
            .header_center:after{
                content: "";
                position: absolute;
                top: -18px;
                left: -19px;
                width: 617px;
                height: 73px;
            }
            .header_center:before{
                background: url(../images/icon/header_center_before_pattern.png) 0 0 no-repeat;
            }
            .header_center:after{
                background: url(../images/icon/header_center_after_pattern.png) 0 0 no-repeat;
                height: 75px;
                top: auto;
                left: auto;
                bottom: -20px;
                right: -25px;
            }
            .header_center_pattern_left,
            .header_center_pattern_right{
                width: 274px;
                height: 107px;
                margin-top: 28px;
                position: relative;
                z-index: 9;
                max-width: 100%;
            }
            .header_center_pattern_left{
                background: url(../images/icon/header_center_pattern_left.png) 0 0 no-repeat;
            }
            .header_center_pattern_right{
                background: url(../images/icon/header_center_pattern_right.png) 0 0 no-repeat;
            }
            .logo{
                margin: auto;
                text-align: center;
                position: relative;
                z-index: 9;
            }
                .logo a{
                    display:inline-block;
                    width:345px;
                    height:159px;
                    max-width: 100%;
                    background:url(../images/logo.png) 50% 0 no-repeat;
                    text-decoration:none;
                    text-indent:-9999px;
                    font-size: 0;
                }

        .header_bottom{
            margin-bottom: 20px;
        }
            .navigation_menu{
                
            }
                .menu{
                    text-align: center;
                }
                    .menu_item{
                        margin: 0 20px;
                        display: inline-block;
                    }
                        .menu_link{
                            color: #eed26c;
                            font-size: 20px;
                            line-height: 22px;
                            padding: 0 20px;
                            position: relative;
                        }
                        .menu_link:hover:before,
                        .menu_link:hover:after,
                        .menu_item.current .menu_link:before,
                        .menu_item.current .menu_link:after{
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: -6px;
                            display: inline-block;
                        }
                        .menu_link:hover:before,
                        .menu_item.current .menu_link:before{
                            width: 7px;
                            height: 7px;
                            background: url(../images/icon/cube_icon.png) 0 0 no-repeat;
                            bottom: -9px;
                        }
                        .menu_link:hover:after,
                        .menu_item.current .menu_link:after{
                            height: 1px;
                            width: 100%;
                            -webkit-transform: translateX(-50%);
                               -moz-transform: translateX(-50%);
                                -ms-transform: translateX(-50%);
                                 -o-transform: translateX(-50%);
                                    transform: translateX(-50%);
                            background: -moz-linear-gradient(left,  rgba(95,16,1,0.71) 0%, rgba(228,173,7,0.71) 50%, rgba(95,16,1,0.71) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left,  rgba(95,16,1,0.71) 0%,rgba(228,173,7,0.71) 50%,rgba(95,16,1,0.71) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right,  rgba(95,16,1,0.71) 0%,rgba(228,173,7,0.71) 50%,rgba(95,16,1,0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55f1001', endColorstr='#b55f1001',GradientType=1 ); /* IE6-9 */
                        }




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        padding: 0px 0px 0px 0px; 
        min-height: 700px;
    }
    /*======================>  HOME PAGE START  <======================*/

        .content_main_img {
            background: url(../images/diva.jpg) 50% 0px no-repeat;
            max-width: 100%;
            height: 494px;
            position: relative;
            margin-bottom: 20px;
        }

                .content_main_span_left, 
                .content_main_span_right {

                }
                    .content_main_span_left:before,
                    .content_main_span_left:after,
                    .content_main_span_right:before,
                    .content_main_span_right:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 86px;
                        height: 247px;
                        background: url(../images/icon/border-left-top.png) 0 top no-repeat;
                        z-index: 9;

                    }
                    .content_main_span_left:after{
                        background: url(../images/icon/border-left-bottom.png) 0 bottom no-repeat;
                        top: auto;
                        bottom: 0;
                    }


                .content_main_span_right {
                    
                }
                    .content_main_span_right:before,
                    .content_main_span_right:after{
                        left: auto;
                        right: 0;
                        background: url(../images/icon/border-right-top.png) 0 top no-repeat;
                    }
                    .content_main_span_right:after{
                        background: url(../images/icon/border-right-bottom.png) 0 bottom no-repeat;
                        top: auto;
                        bottom: 0;
                    }

                .content_main_span {
                    
                }
                    .content_main_span:before,
                    .content_main_span:after{
                        content:""; 
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 86px;
                        right: 86px;
                        height: 27px;
                        background: url(../images/icon/content_main_span_top.png) 0 top repeat;
                    }
                    .content_main_span:after{
                        background: url(../images/icon/content_main_span_bottom.png) 0 bottom repeat;
                        bottom: 0;
                        top: auto;
                    }

        .content_container_element{
            overflow: hidden;
            background-color: #5e0100;
            border: 1px solid #ffff69;
            border-radius: 11px;
            padding: 35px 35px 72px 35px;
            position: relative;
        }
            .all_content_element{
                
            }
                .element_text{
                    
                }

            .full_complex_container{
                
            }
                .el_figure_box{
                    margin-bottom: 49px;
                }
                    .el_figure_item{
                        
                    }
                        .el_figure_img{
                            -webkit-border-radius: 13px;
                                    border-radius: 13px;
                            overflow: hidden;
                            position: relative;
                        }
                            .el_figure_img:after{
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                border: 1px solid #FFFF69;
                                -webkit-border-radius: 13px;
                                        border-radius: 13px;
                                z-index: 9;
                            }
                            .el_figure_img img{
                            
                            }
                            .el_figcaption_text{
                                min-height: 41px;
                                font-size: 21px;
                                line-height: 25px;
                                text-align: center;
                                padding: 8px 0;
                                position: relative;
                                letter-spacing: -0.5px;
                                color: #FFF;
                            }
                            .el_figcaption_text a{
                                color: #FFF;
                                text-decoration: none;
                            }
                            .el_figcaption_text a:hover{
                                color: #FFF;
                                text-decoration: underline;
                            }
                            .el_figcaption_text:after{
                                content: "";
                                height: 1px;
                                width: 100%;
                                bottom: 0;
                                position: absolute;
                                left: 0;
                                background: -moz-linear-gradient(left,  rgba(103,14,6,0.55) 0%, rgba(238,201,89,0.83) 15%, rgba(238,201,89,1) 50%, rgba(238,201,89,0.84) 86%, rgba(103,14,6,0.55) 100%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(left,  rgba(103,14,6,0.55) 0%,rgba(238,201,89,0.83) 15%,rgba(238,201,89,1) 50%,rgba(238,201,89,0.84) 86%,rgba(103,14,6,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to right,  rgba(103,14,6,0.55) 0%,rgba(238,201,89,0.83) 15%,rgba(238,201,89,1) 50%,rgba(238,201,89,0.84) 86%,rgba(103,14,6,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c670e06', endColorstr='#8c670e06',GradientType=1 ); /* IE6-9 */
                            }

                .advantage_container{
                    min-height: 415px;
                    background-color: #6b0201;
                    padding: 36px 0 44px 0;
                    margin: 0 -35px;
                }
                    .advantage_figure{
                        
                    }
                        .advantage_img_box{
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                            border: 1px solid #ffff69;
                            width: 190px;
                            height: 190px;
                            max-width: 100%;
                            margin: 0 auto 10px;
                            padding: 3px;
                        }
                            .advantage_img_box_item{
                                width: 100%;
                                height: 100%;
                                background-color: #5e0100;
                                border: 1px solid #ffff69;
                                -webkit-border-radius: 50%;
                                        border-radius: 50%;
                                margin: auto;
                                overflow: hidden;
                                vertical-align: middle;
                                position: relative;
                                text-align: center;
                            }
                                .advantage_img_box_item:after{
                                    width: 0;
                                    height: 100%;
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    visibility: hidden;
                                }
                                .advantage_img_box_item img{
                                    vertical-align: middle;
                                }

                            .advantage_figcaption{
                                padding: 0 35px;
                            }


                .service_container{
                    text-align: center;
                    padding: 36px 0 33px;
                }


            .contant_bd {
                width: 100%;
                position: absolute;
                bottom: 22px;
                left: 0;
                right: 0;
                padding: 0 36px;
            }
            .span1, 
            .span3 {
                width: 69px;
                height: 49px;
                background: url(../images/icon/footer_l.png) 0 0 no-repeat;
                display: inline-block;
            }
            .span3{
                background: url(../images/icon/footer_r.png) 0 0 no-repeat;
                float: right;
            }
            .span2{
                margin: auto;
                background: url(../images/icon/footer_c.png) 50% 50% no-repeat;
                height: 49px;
                position: absolute;
                left: 70px;
                right: 70px;
            }
                .span2:before, 
                .span2:after {
                        content: "";
                        width: 40.4%;
                        height: 1px;
                        max-width: 100%;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        -webkit-transform: translateY(-50%);
                           -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                             -o-transform: translateY(-50%);
                                transform: translateY(-50%);
                        background: -moz-linear-gradient(left,  rgba(103,14,6,0.85) 0%, rgba(237,200,89,1) 50%, rgba(103,14,6,0.85) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left,  rgba(103,14,6,0.85) 0%,rgba(237,200,89,1) 50%,rgba(103,14,6,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right,  rgba(103,14,6,0.85) 0%,rgba(237,200,89,1) 50%,rgba(103,14,6,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
                .span2:after {
                        left: auto;
                        right: 0;
                }


    /*======================>  HOME PAGE END    <======================*/
    



    /*======================>  CONTACTS START  <======================*/
        
        .contacts_container{
            
        }
            .contacts_address{
                font-size: 19px;
                line-height: 29px;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 25px;
            }
                .contacts_address_item1{
                
                }
                    .contacts_address_item1 span,
                    .contacts_address_item2 span{
                        font-weight: 700;
                    }
                .contacts_address_item2{
                    
                }
                    .contacts_address_item2 a{
                        color: #e3dddd;
                    }

            .mode_works{
                margin-bottom: 212px;
            }
                .mode_works_title{
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                .mode_works_time{
                    
                }
                    .mode_works_time span{
                        position: relative;
                    }
                        .mode_works_time span:after{
                            content: "/";
                            padding-left: 10px;
                            padding-right: 5px;
                        }
                    .mode_works_time span:last-child:after{
                        display: none;
                    }

    /*======================>  CONTACTS END    <======================*/
    



    /*======================>  ALL_SERVICES START  <======================*/
    
        .full_complex_container_all{
            
        }

    /*======================>  ALL_SERVICES END    <======================*/

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #footer {
        padding:14px 0px 0px 0px;
    }
        .footer_top{
            margin-bottom: 19px;
        }
            #single_nav{
                
            }
                .footer_navigation_menu{
                    text-align: center;
                }
                    .footer_navigation_menu_list{
                        padding: 0 6.5px;
                        display: inline-block;
                    }
                        .footer_navigation_link{
                            color: #eed26c;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            padding: 0 10px;
                            position: relative;
                        }
                        .footer_navigation_link:hover:after{
                            content: "";
                            height: 2px;
                            width: 100%;
                            bottom: -4px;
                            position: absolute;
                            left: 0;
                            background: -moz-linear-gradient(left, rgba(103,14,6,0.55) 0%, rgba(247,210,44,0.83) 15%, rgba(247,210,44,1) 50%, rgba(247,210,44,0.84) 86%, rgba(103,14,6,0.55) 100%);
                            background: -webkit-linear-gradient(left, rgba(103,14,6,0.55) 0%,rgba(247,210,44,0.83) 15%,rgba(247,210,44,1) 50%,rgba(247,210,44,0.84) 86%,rgba(103,14,6,0.55) 100%);
                            background: linear-gradient(to right, rgba(103,14,6,0.55) 0%,rgba(247,210,44,0.83) 15%,rgba(247,210,44,1) 50%,rgba(247,210,44,0.84) 86%,rgba(103,14,6,0.55) 100%);
                        }

        .footer_bottom{
            text-align: center;
            margin-bottom: 4px;
        }
            .footer_bottom .header_numbers{
                float: none;
                display: inline-block;
                padding: 0;
            }
                .footer_bottom .header_numbers a,
                .footer_bottom .header_numbers span{
                    opacity: 1;
                    color: #e3dddd;
                    font-family: 'Times New Roman', Times, serif , sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }

        .copyright_box{
            min-height: 52px;
            text-align: center;
            color: #e3dddd;
            font-family: 'Times New Roman', Times, serif , sans-serif;
            font-size: 16px;
            line-height: 52px;
            position: relative;
            vertical-align: middle;
        }
            .copyright_box:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: -moz-linear-gradient(left, rgba(103,14,6,0.55) 0%, rgba(247,210,44,0.83) 15%, rgba(247,210,44,1) 50%, rgba(247,210,44,0.84) 86%, rgba(103,14,6,0.55) 100%);
                background: -webkit-linear-gradient(left, rgba(103,14,6,0.55) 0%,rgba(247,210,44,0.83) 15%,rgba(247,210,44,1) 50%,rgba(247,210,44,0.84) 86%,rgba(103,14,6,0.55) 100%);
                background: linear-gradient(to right, rgba(103,14,6,0.55) 0%,rgba(247,210,44,0.83) 15%,rgba(247,210,44,1) 50%,rgba(247,210,44,0.84) 86%,rgba(103,14,6,0.55) 100%);
            }
                .copyright_box a{
                    color: #e3dddd;
                }
                    .copyright_box a:hover{
                        color: #f7d22c;   
                    }

        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 50px;
            bottom: 50px;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #000;
                width: 55px;
                height: 55px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #000;
                line-height: 50px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: #F67003;
                border: 3px solid #F67003;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/