.yellow{
	color: #eed26c;
}
.bold{
	font-weight: 700;
}

.one_product_box_item_img{
	width: 367px;
	border: 1px solid #b58039;
	border-radius: 8px;
}
	.one_product_box_item_img img{
		width: 100%;
		height: auto;
	}
.one_product_box_item_figcaption{
	width: 323px;
	margin-left: 29px;
}	
	.one_product_box_item_figcaption_text{
		font-size: 17px;
		line-height: 20px;
		color: #dacece;
	}
		.one_product_box_item_figcaption_text a{
			color: #dacece;
		}

.feedback{
	width: 100%;
	background: #7c0200;
	border: 1px dashed #b58039;
	border-radius: 5px;
	padding: 23px 10px;
}		

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


@media only screen and (max-width: 1200px) {
/*-------------------  START: Product page  ---------------*/
    .one_product_box_item_img{
		width: 35%;
    }
    .one_product_box_item_figcaption{
    	width: 35%;
    }
/*-------------------  End: Product page  ---------------*/
}

@media only screen and (max-width: 1044px){
/*-------------------  START: Product page  ---------------*/
    .one_product_box_item_img{
		width: 45%;
    }
    .one_product_box_item_figcaption{
    	width: 45%;
    }
/*-------------------  End: Product page  ---------------*/
}

@media only screen and (max-width: 767px){
/*-------------------  START: Product page  ---------------*/
	.one_product_box{
		margin-bottom: 0;
	}
    .one_product_box_item_img{
		width: 50%;
		margin-bottom: 20px;
    }
    .one_product_box_item_figcaption{
    	width: 100%;
    	margin: 0;
    }
    .one_product_box_item_price_list{
    	margin-bottom: 20px;
    }
/*-------------------  End: Product page  ---------------*/
}

@media only screen and (max-width: 420px){
/*-------------------  START: Product page  ---------------*/
    .one_product_box_item_img{
		width: 100%;
    }
    .feedback{
    	margin-bottom: 20px;
    }
/*-------------------  End: Product page  ---------------*/
}