        /*======================>  BREADCRUMBS  START  <======================*/
            
            .breadcrumbs_container{
                margin: -27px -9px 5px -9px;
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 4px;
                        padding-right: 15px;
                    }
                    .breadcrumbs_it:before{
                        content: "›";
                        position: absolute;
                        right: -10px;
                        top: 0px;
                        width: 9px;
                        height: 15px;
                        color: #a26363;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0 10px;
                        display: block;
                        /*background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #a26363;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover{
                            text-decoration: underline;
                            color: #A26363;
                        }
                            .breadcrumbs_current{
                                font-size: 15px;
                                line-height: 21px;
                                color: #a26363;
                                font-family: 'Georgia', 'georgia', sans-serif;
                            }
                            .breadcrumbs_arrow{
                                font-size: 14px;
                            }



/*------------------------------  START: Catalog  --------------------------*/

.aside_block{
    background-color: #650100;
    border: 1px solid #b58039;
    border-radius: 11px;
    padding: 20px 10px;
    margin-bottom: 20px;
}
    .aside_title{
        color: #FFF;
        font-size: 21px;
        line-height: 1.3;
        padding: 0; 
        text-align: center;
        position: relative;
        letter-spacing: 1px;
        margin: 0 -10px 20px -10px;
        padding: 0 10px;
    }
        .aside_title:after{
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            left: 0;
            bottom: -15px;
            background: rgb(106,8,3); 
            background: -moz-linear-gradient(left,  rgba(106,8,3,1) 0%, rgba(161,89,39,1) 23%, rgba(170,101,45,1) 52%, rgba(161,89,39,1) 80%, rgba(106,8,3,1) 100%); 
            background: -webkit-linear-gradient(left,  rgba(106,8,3,1) 0%,rgba(161,89,39,1) 23%,rgba(170,101,45,1) 52%,rgba(161,89,39,1) 80%,rgba(106,8,3,1) 100%);
            background: linear-gradient(to right,  rgba(106,8,3,1) 0%,rgba(161,89,39,1) 23%,rgba(170,101,45,1) 52%,rgba(161,89,39,1) 80%,rgba(106,8,3,1) 100%); 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a0803', endColorstr='#6a0803',GradientType=1 ); 
        }
    .aside_list{
        margin-top: 30px;
    }
        .aside_list .aside_product_item{
            margin-bottom: 12px;
        }
        .aside_list li{
            margin-bottom: 16px;
        }
        .aside_list li:last-child{
            margin-bottom: 0;
        }
            .aside_list li a,
            .aside_list li.aside_product_item a{
                color: #FFF;
                font-size: 17px;
                line-height: 18px;
                text-decoration: none;
                display: inline-block;
                font-family: 'Georgia', 'georgia', sans-serif;
            }
            .aside_list li.aside_product_item a{
                padding-left: 13px;
            }
                .aside_list li a:hover{
                    color: #EED26C;
                }
        .aside_product_item{
            position: relative;
        }
        .aside_product_item:before{
            content: "›";
            position: absolute;
            width: 5px;
            height: 8px;
            color: #FFF;
            font-size: 17px;
            line-height: 17px;
        }
.content_block{
    margin-left: 9px;
    margin-bottom: 50px;
}
    .figures_block{
        margin: 0 -9px;
    }
        .figure_box{
            width: 230px;
            overflow: hidden;
            margin: 0 9px 18px 9px;
            border: 1px solid #B58039;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            background-color: #7C0200;
        }
            .figure_img_block{
                width: 100%;
                height: 200px;
                border-bottom: 1px solid #B58039;
            }
                .figure_img_block img{
                    width: 100%;
                    height: auto;
                }
            .figure_figcaption{
                padding: 15px;
            }
                .product_price{
                    color: #EED26C;
                    font-size: 19px;
                    font-weight: 700;
                    text-align: center;
                }
                .product_link_more{
                    font-size: 17px;
                    color: #E3DDDD;
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    font-family: 'Georgia', 'georgia', sans-serif;
                }
  
    .plagination_link{
      color: #fff;
      text-decoration: none;
      font-size: 19px;
      padding: 0 3px;
      margin: 0 -1px; 
    }
    .plagination_list{
      text-align: center; 
    }
      .plagination_list_item{
        display: inline-block;
        margin: 0 0;
      }
        .plagination_list_item .plagination_link{
          padding: 0 5px; 
        }

/*------------------------------  End: Catalog  --------------------------*/





/*------------------------------  START: One service  --------------------------*/

.one_service_block p{
    font-size: 19px;
    line-height: 24px;
}
/*------------------------------  End: One service  --------------------------*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


@media only screen and (max-width: 1217px) {
/*-------------------  START: One service  ---------------*/
    .figure_box {
        width: 218px;
        margin: 0 6px 18px 6px;
    }
    .figure_figcaption .title2{
        font-size: 17px;
    }
/*-------------------  End: One service  ---------------*/

/*-------------------  START: Catalog  ---------------*/
    .figure_img_block{
        height: auto;
    }
/*-------------------  End: Catalog  ---------------*/
}

@media only screen and (max-width: 1110px) {

/*-------------------  START: Catalog  ---------------*/
    .figure_box{
        width: 190px;
    }
/*-------------------  End: Catalog  ---------------*/
}

@media only screen and (max-width: 1044px){
    .figure_box {
        width: 31%;
    }
}

@media only screen and (max-width: 644px) {
/*-------------------  START: Catalog  ---------------*/
    .figure_box {
        width: 47%;
    }

/*-------------------  End: Catalog  ---------------*/
    
}

@media only screen and (max-width: 500px) {
/*-------------------  START: Catalog  ---------------*/
    .one_service_block p {
        font-size: 16px;
        line-height: 20px;
    }
    .aside_list li a, 
    .aside_list li.aside_product_item a{
        font-size: 15px;
        line-height: 16px;
    }
    .breadcrumbs_current{
        font-size: 11px;
    }

/*-------------------  End: Catalog  ---------------*/
    
}
@media only screen and (max-width: 471px) {
/*-------------------  START: Catalog  ---------------*/
    .figure_box {
        width: 45%;
    }

/*-------------------  End: Catalog  ---------------*/
    
}
@media only screen and (max-width: 400px) {
/*-------------------  START: Catalog  ---------------*/
    .figure_box {
        width: 100%;
    }

/*-------------------  End: Catalog  ---------------*/
    
}
